<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.example.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="logo">
                <img src="images/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            </div>
            <div class="btn-offcanvas">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">BCR</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <a class="nav-link" href="#">Our Services</a>
                        <a class="nav-link" href="#">Why Us</a>
                        <a class="nav-link" href="#">Testimonial</a>
                        <a class="nav-link" href="#">FAQ</a>
                        <a class="nav-link" href="#">Register</a>    
                    </div>
                </div>
            </div>
            <div class="link_nav">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                    <a class="nav-link" href="#ourservices">Our Services</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#whyus">Why Us</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#testimonial">Testimonial</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                    </li>
                    <li class="nav-item register">
                    <a class="nav-link" href="#">Register</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
    </nav>
    <section class="main-section">
            <div class="main">
                <div class="main-desc">
                    <h1>Sewa & Rental Mobil Terbaik di kawasan (Lokasimu)</h1>
                    <p>Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas terbaik dengan harga terjangkau. Selalu siap melayani kebutuhanmu untuk sewa mobil selama 24 jam.</p>
                    <span>
                        <!-- <a href="cariMobil.html" class="nav-link" onclick="window.location.href='/cars' ">Mulai Sewa Mobil</a> -->
                        <button class="nav-link" onclick="window.location.href='/cars' ">Mulai Sewa Mobil</button>
                    </span>
                </div>
                <div class="main-pic">
                    <img src="images/img_car.png" alt="Car">
                </div>
            </div>
    </section>
    <section class="our-services" id="ourservices">
        <div class="service-pic">
            <img src="images/img_service.png" alt="Logo Services">
        </div>
        <div class="service-desc">
            <h2>Best Car Rental for any kind of trip in (Lokasimu)!</h2>
            <p class="service-title">Sewa mobil di (Lokasimu) bersama Binar Car Rental jaminan harga lebih murah dibandingkan yang lain, kondisi mobil baru, serta kualitas pelayanan terbaik untuk perjalanan wisata, bisnis, wedding, meeting, dll.</p>
            <p class="service"><img src="images/centang.png" alt="centang" width="20" height="20"> Sewa Mobil Dengan Supir di Bali 12 Jam</p>
            <p class="service"><img src="images/centang.png" alt="centang" width="20" height="20"> Sewa Mobil Lepas Kunci di Bali 24 Jam</p>
            <p class="service"><img src="images/centang.png" alt="centang" width="20" height="20"> Sewa Mobil Jangka Panjang Bulanan</p>
            <p class="service"><img src="images/centang.png" alt="centang" width="20" height="20"> Gratis Antar - Jemput Mobil di Bandara</p>
            <p class="service"><img src="images/centang.png" alt="centang" width="20" height="20"> Layanan Airport Transfer / Drop In Out</p>
        </div>
    </section>
    <section class="why-us" id="whyus">
        <div class="why-title">
            <h3>Why Us?</h3>
            <br>
            <span>Mengapa harus pilih Binar Car Rental?</span>
        </div> 
        <div class="why-card">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <img src="images/icon_complete.png" alt="like" width="30" height="30">
                        <div class="card-body">
                        <h4 class="card-title">Mobil Lengkap</h4>
                        <p class="card-text">Tersedia banyak pilihan mobil, kondisi masih baru, bersih dan terawat</p>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-3">
                    <div class="card x">
                        <img src="images/icon_price.png" alt="like" width="30" height="30">
                        <div class="card-body">
                        <h4 class="card-title">Harga Murah</h4>
                        <p class="card-text">Harga murah dan bersaing, bisa bandingkan harga kami dengan rental mobil lain</p>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-3">
                    <div class="card x">
                        <img src="images/icon_24hrs.png" alt="like" width="30" height="30">
                        <div class="card-body">
                        <h4 class="card-title">Layanan 24 Jam</h4>
                        <p class="card-text">Siap melayani kebutuhan Anda selama 24 jam nonstop. Kami juga tersedia di akhir minggu</p>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-3">
                    <div class="card x">
                        <img src="images/icon_professional.png" alt="like" width="30" height="30">
                        <div class="card-body">
                        <h4 class="card-title">Sopir Profesional</h4>
                        <p class="card-text">Sopir yang profesional, berpengalaman, jujur, ramah dan selalu tepat waktu</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>

    <div class="judul-testi" id="testimonial">
        <h4>Testimonial</h4>
        <span>Berbagai review positif dari para pelanggan kami</span>
    </div>


    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonial">
                <div class="testi-content">
                    <div class="testi-card">
                        <div class="testi-img"><img src="images/img_photo.png" alt=""></div>
                        <div class="testi-desc">
                            <div class="bintang">
                                <img src="images/Star.png" alt="">
                                <img src="images/Star.png" alt="">
                                <img src="images/Star.png" alt="">
                                <img src="images/Star.png" alt="">
                                <img src="images/Star.png" alt="">
                            </div>
                            <div class="desc1">
                                <p>
                                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum 
                                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, sed do eiusmod”
                                </p>
                            </div>
                            <div class="desc2"><span> John Dee 32, Bromo</span></div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial">
                <div class="testi-content">
                    <div class="testi-card">
                        <div class="testi-img"><img src="images/img_photo2.png" alt=""></div>
                        <div class="testi-desc">
                            <div class="bintang">
                                <img src="images/Star.png" alt="">
                                <img src="images/Star.png" alt="">
                                <img src="images/Star.png" alt="">
                                <img src="images/Star.png" alt="">
                                <img src="images/Star.png" alt="">
                            </div>
                            <div class="desc1">
                                <p>
                                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum 
                                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, sed do eiusmod”
                                </p>
                            </div>
                            <div class="desc2"><span> John Dee 32, Bromo</span></div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial">
                <div class="testi-content">
                    <div class="testi-card">
                        <div class="testi-img"><img src="images/img_photo.png" alt=""></div>
                        <div class="testi-desc">
                            <div class="bintang">
                                <img src="images/Star.png" alt="">
                                <img src="images/Star.png" alt="">
                                <img src="images/Star.png" alt="">
                                <img src="images/Star.png" alt="">
                                <img src="images/Star.png" alt="">
                            </div>
                            <div class="desc1">
                                <p>
                                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum 
                                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, sed do eiusmod”
                                </p>
                            </div>
                            <div class="desc2"><span> John Dee 32, Bromo</span></div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon tombol" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon tombol" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

   


   
    <div class="sewa-mobil">
        <div class="sewa-mobil-head">
            <h5>Sewa Mobil di (Lokasimu) Sekarang</h5>
        </div>
        <div class="sewa-mobil-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="sewa-mobil-text">
            <p>Mulai Sewa Mobil</p>
        </div>
    </div>

    <div class="question">
        <div class="left-question">
            <h5>Frequently Asked Question</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="right-question">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Apa saja syarat yang dibutuhkan?
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, veniam.</div>
                  </div>
                </div>
                <br>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                        Berapa hari minimal sewa mobil lepas kunci?
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, veniam.</div>
                  </div>
                </div>
                <br>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
                        Berapa hari sebelumnya sabaiknya booking sewa mobil?
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, veniam.</div>
                  </div>
                </div>
                <br>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
                        Apakah Ada biaya antar-jemput?  
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, veniam.</div>
                  </div>
                </div>
                <br>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseOne">
                        Bagaimana jika terjadi kecelakaan  
                    </button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, veniam.</div>
                  </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container block">
            <div class="block1">
                <div class="list-block1 jalan"><p>Jalan Suroyo No. 161 Mayangan Kota Probolonggo 672000</p></div>
                <div class="list-block1 email"><p>binarcarrental@gmail.com</p></div>
                <div class="list-block1 notelp"><p>081-233-334-808</p></div>
            </div>
            <div class="block2">
                <div class="list-block2 block2-1"><span>Our services</span></div>
                <div class="list-block2 block2-2"><span>Why Us</span></div>
                <div class="list-block2 block2-3"><span>Testimonial</span></div>
                <div class="list-block2 block2-4"><span>FAQ</span></div>
            </div>
            <div class="block3">
                <div class="list-block3 block3-1"><span>Connect with us</span></div>
                <div class="list-block3 block3-2">
                    <img src="images/icon_facebook.png" alt="facebook">
                    <img src="images/icon_instagram.png" alt="instagram">
                    <img src="images/icon_twitter.png" alt="twiter">
                    <img src="images/icon_mail.png" alt="mail">
                    <img src="images/icon_twitch.png" alt="twitch">
                </div>  
            </div>
            <div class="block4">
                <div class="list-block4 block4-1"><span>Copyright Binar 2022</span></div>
                <div class="list-block4 block4-2">
                    <img src="images/logo.png" alt="logo" width="30" height="30">
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
</body>
</html>